@import url('https://fonts.googleapis.com/css?family=Roboto');

$roboto: 'Roboto', sans-serif;
$berlin: 'Berlin', sans-serif;
$bg_color1: #d0d0c2;
$font_color1: black;

$bg_color2: #172f41;
$font_color2: white;

$title_size: 36px;
$text_size: 16px;